<!DOCTYPE html>
<html>

<head>
    <title>Data</title>
    <style>
        .data {
            border-collapse: collapse;
            width: 100%;
        }

        .data th,
        .data td {
            border: 1px solid #ddd;
            padding: 8px;
        }
    </style>
</head>

<body>
    <section>
        <h2>Current Price: {{ current_price }}</h2>
        <h2>Expiry Dates</h2>
        <select id="expiryDate">
            {% for date in expiry_dates %}
            <option value="{{ date }}">{{ date }}</option>
            {% endfor %}
        </select>
    </section>

    <div id="data">
        {{ data|safe }}
    </div>

    <script>
        document.getElementById('expiryDate').addEventListener('change', function () {
            var selectedDate = this.value;
            var rows = document.getElementById('data_table').getElementsByTagName('tr');
            for (var i = 0; i < rows.length; i++) {
                var expiryDateCell = rows[i].getElementsByTagName('td')[0];  // Assuming expiryDate is the first column
                if (expiryDateCell) {
                    var expiryDate = expiryDateCell.textContent;
                    if (expiryDate === selectedDate) {
                        rows[i].style.display = '';
                    } else {
                        rows[i].style.display = 'none';
                    }
                }
            }
        });
    </script>

    <table id="zoneLevels">
        {{ zoneLevels | safe }}
    </table>


</body>

</html>